@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-theme-color: rgb(255 255 255);
}

@layer base {
  html {
    @apply h-full;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply font-poppins text-sm leading-[1.7] h-full text-zinc-800 overflow-x-hidden;
  }

  b,
  strong {
    @apply font-bold;
  }

  option {
    @apply text-black;
  }

  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    display: none;
  }

  input:focus {
    outline: none !important;
  }
}

@layer components {
  .scrollbar::-webkit-scrollbar {
    @apply w-2.5;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-red-600 outline outline-1 outline-red-600 rounded-lg;
  }

  .scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  }

  .addthis_inline_share_toolbox.share_add a,
  .addthis_inline_share_toolbox.share_add a div {
    @apply w-auto !important;
  }
}

.swiper-pagination-bullet.blog {
  @apply opacity-50 bg-zinc-400 cursor-pointer;
}

.swiper-pagination-bullet-active.blog {
  @apply bg-zinc-400 rounded-lg w-12 opacity-100;
}

@keyframes ldio-3m9u2msjlz5 {
  0% {
    transform: translate(6px, 40px) scale(0);
  }
  25% {
    transform: translate(6px, 40px) scale(0);
  }
  50% {
    transform: translate(6px, 40px) scale(1);
  }
  75% {
    transform: translate(40px, 40px) scale(1);
  }
  100% {
    transform: translate(74px, 40px) scale(1);
  }
}
@keyframes ldio-3m9u2msjlz5-r {
  0% {
    transform: translate(74px, 40px) scale(1);
  }
  100% {
    transform: translate(74px, 40px) scale(0);
  }
}
@keyframes ldio-3m9u2msjlz5-c {
  0% {
    background: #e15b64;
  }
  25% {
    background: #abbd81;
  }
  50% {
    background: #f8b26a;
  }
  75% {
    background: #f47e60;
  }
  100% {
    background: #e15b64;
  }
}
.ldio-3m9u2msjlz5 div {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(40px, 40px) scale(1);
  background: #e15b64;
  animation: ldio-3m9u2msjlz5 1.25s infinite cubic-bezier(0, 0.5, 0.5, 1);
}
.ldio-3m9u2msjlz5 div:nth-child(1) {
  background: #f47e60;
  transform: translate(74px, 40px) scale(1);
  animation: ldio-3m9u2msjlz5-r 0.3125s infinite cubic-bezier(0, 0.5, 0.5, 1),
    ldio-3m9u2msjlz5-c 1.25s infinite step-start;
}
.ldio-3m9u2msjlz5 div:nth-child(2) {
  animation-delay: -0.3125s;
  background: #e15b64;
}
.ldio-3m9u2msjlz5 div:nth-child(3) {
  animation-delay: -0.625s;
  background: #f47e60;
}
.ldio-3m9u2msjlz5 div:nth-child(4) {
  animation-delay: -0.9375s;
  background: #f8b26a;
}
.ldio-3m9u2msjlz5 div:nth-child(5) {
  animation-delay: -1.25s;
  background: #abbd81;
}
.loadingio-spinner-ellipsis-i1138j55jva {
  width: 60px;
  height: 60px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-3m9u2msjlz5 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.6);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-3m9u2msjlz5 div {
  box-sizing: content-box;
}

tbody::-webkit-scrollbar {
  display: none;
}
